{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login_page/styles_dark.css' %}">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>
<body>
    <div class="loginbar-wrapper">
        <div class="loginbar">
            <img src="{% static 'login_page/Images/logo.png' %}" alt="logo" class="logo">
            <p class="text1">NISTracker</p>
            <p class="text2">{{ translated.Login }}</p>
            <p class="text3">{{ translated.Use_your_IIN_and_password }}</p>
            <form class="login-form" method="post" action="{% url 'login_page' %}">
                {% csrf_token %}
                <input type="text" placeholder="{{ translated.IIN }}" name="input1" class="input1" required>
                <input type="password" placeholder="{{ translated.Password }}"" name="input2" class="input2" required>
                <button name="login-button" class="button1" type="submit">
                    <p class="text4">{{ translated.Continue }}</p>
                    <img src="{% static 'login_page/Images/right_arrow.png' %}" alt="->" class="right-arrow">
                </button>
            </form>
            <div class="footer-section">
                <form method="post" action="{% url 'login_page' %}">
                    {% csrf_token %}
                    <button class="footer-button" name="color_theme_button">
                        <img src="{% static 'login_page/Images/dark_theme.png' %}" alt="*" class="img1">
                    </button> 
                </form>
                <a href="https://t.me/nistracker" target="_blank">
                    <button class="footer-button">
                        <img src="{% static 'login_page/Images/dark_telegram.png' %}" alt="*", class="img2">
                    </button>
                </a>
                <a href="https://github.com/" target="_blank">
                    <button class="footer-button">
                        <img src="{% static 'login_page/Images/dark_github.png' %}" alt="*" class="img3">
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="language-icon-wrapper">
        <button class="language-button">
            <img src="{% static 'login_page/Images/dark_language.png' %}" alt="LANG" class="lang-icon">
        </button>
        <div class="language-list">
            <form method="post" action="{% url 'login_page' %}">
                {% csrf_token %}
                <button class="lang-eng" name="lang-eng">
                    <p class="text5">Eng</p>
                </button>
                <button class="lang-ru" name="lang-ru">
                    <p class="text6">Ru</p>
                </button>
                <button class="lang-kk" name="lang-kk">
                    <p class="text7">Kk</p>
                </button>
            </form>
        </div>
    </div>
</body>
</html>
